@import ./_variables
    
*
    margin: 0
    padding: 0
    list-style: none
    text-decoration: none
    font-size: 16px
    box-sizing: border-box

// Painel de login
.image-bg-login
    min-width: 100%
    min-height: 100%
    background: url('/assets/images/login_bg.png') no-repeat center
    background-size: cover

    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: #00000059

label
    transition: all .4s

.validit-custom
    &:focus
        box-shadow: none

        & ~ label
            transform: translateY(-21px)
            background: $cm-light
            font-size: .9rem

    &:valid ~ label
        transform: translateY(-21px)
        background: $cm-light
        font-size: .9rem

span[data-valid="false"]
    color: $cm-danger
    animation: showError .4s linear forwards

span[data-valid="true"]
    color: $cm-success
    animation: showSuccess .4s linear forwards

.validit
    font-size: .8rem
    z-index: -1

    i
        font-size: .8rem

.btn-show-pass:focus
    box-shadow: none

@import  ./_mediaQueries
@import ./_keyFrames
